/* Theme created by scOwez. All trademarks go to the freeCodeCamp charity */
body {
    color: #e1e1e1;
    background-color: #313131;
}

code[class*="language-"],
pre[class*="language-"] {
    text-shadow: 0 0 #ffffff;
    background-color: #424242;
    color: #e1e1e1 !important;
}

.language-text {
    background-color: #424242 !important;
    border: 0.1rem solid #e1e1e1;
    font-style: italic;
}

.title {
    background-color: #313131;
}

.panelStyle {
    color: #ffffff;
    background-color: #313131;
}

.navItemTitle {
    color: #ffffff;
}

a:focus,
a:hover {
    color: #2993f2;
}
